html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (min-width: 1200px) {
    .box {
        flex-direction: row;
    }
}

.user-banner {
    padding: 20px;
    text-align: center;
    background-color: #1BB3FF;
    color: #000;
}

.brand {
    font-size: 40px;
    text-align: left;
}

.userinfo {
    text-align: right;
}

.discriminator {
    color: #555;
}

img.avatar {
    width: 64px;
    height: 64px;
    margin-left: 20px;
    border-radius: 32px;
}

.blockly-editor {
    align-self: stretch;
    flex-grow: 1;
    flex-basis: 100vh;
    display: flex;
    flex-direction: column;
}

.blockly-area {
    display: flex;
}

.sidebar {
    flex-grow: 0;
    padding: 20px;
}

@media (min-width: 1200px) {
    .sidebar {
        flex-basis: 500px;
    }
}

.blockly-header {
    padding: 20px;
    position: relative;
}

.window-title {
    font-size: 30px;
    color: #000;
}

#saveIndicator {
    position: absolute;
    padding: inherit;
    bottom: 0;
    right: 0;
    font-style: italic;
}

#blocklyWrapper {
    position: relative;
    flex-grow: 1;
}

#blocklyArea {
    height: 100%;
}

#blocklyDiv {
    position: absolute;
    inset: 0;
}

#commandsList {
    font-family: monospace;
    line-height: 1.5;
    list-style: none;
    padding: 0;
}

#commandsList li::before {
    content: "/";
    color: #555;
}

#commandsList li {
    color: #000;
}
