body { font-family: 'Lato', sans-serif; font-size: 20px; color: #525252; background-color: #F8F1FF; }

h1, h2, h3, h4, h5, h6 { color: #000000; font-family: 'Ubuntu', sans-serif; }

a { color: #1BB3FF; }

a:hover { color: #1BB3FF; }

a.block-link:hover { text-decoration: none; }

p, ul, ol { color: #525252; }

strong, em { color: #1BB3FF; }

hr { margin-top: 40px; margin-bottom: 20px; border: 1px solid #525252; }

blockquote { margin: 40px 10px; color: #FFFFFF; font-style: italic; font-weight: bold; }

.center { text-align: center; }

.bordered-box { padding: 10px; margin-top: 20px; margin-bottom: 20px; border-style: solid; border-width: 2px; border-color: #FF1B8D; border-radius: 5px; }

@media only screen and (max-width: 992px) { .card-columns.index-cards { column-count: 1; } }

@media only screen and (min-width: 992px) { .card-columns.index-cards { column-count: 2; } }

@media only screen and (min-width: 1200px) { .card-columns.index-cards { column-count: 3; } }

.btn { background-color: #1BB3FF; }

.btn-xl { padding: 15px 30px; font-size: 36px; border-radius: 15px; }

.showcase-title h1 { font-size: 72px; }

.iframe-container { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }

.iframe-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.contact-badge { text-align: center; margin-bottom: 20px; border: 2px solid #FF1B8D; border-radius: 5px; padding-top: 10px; padding-bottom: 5px; }

.contact-badge h1 { font-size: 48px; }

.contact-badge h2 { font-size: 24px; }

.card { margin-bottom: 20px; }

.page img { display: block; margin-left: auto; margin-right: auto; }

img { object-fit: contain; max-height: 600px; }

img:not(.actual-size) { width: 100%; }

img.actual-size { margin-left: auto; margin-right: auto; display: block; margin-bottom: 10px; }

.halfwidth-left img { width: 50%; max-height: 400px; float: left; }

.halfwidth-right img { width: 50%; max-height: 400px; float: right; }

.small-img { max-width: 200px; max-height: 200px; }

.caption { text-align: center; margin-top: 1rem; color: #525252; }

.navbar { background-color: #FF1B8D; }

a.nav-link[href] { color: #FFFFFF; }

a.nav-link[href]:hover { color: #000000; }

a.nav-active[href] { color: #000000; }

a.navbar-brand[href] { color: #000000; font-size: 30px; }

.navbar-toggler { color: #000000; border-style: solid; border-width: 2px; border-color: #000000; border-radius: 5px; }

p.nav-separator { margin: 0 10px; }

.footer { background-color: #1BB3FF; }

.footer p, .footer a { color: #000000; }

table, tbody, td, th { border: 2px solid #999; padding: 0.5rem 0.7rem; }

table { margin-bottom: 1rem; }

html, body { height: 100%; }

body { display: flex; flex-direction: column; }

.content-wrap { flex: 1 0 auto; }

.footer { flex-shrink: 0; }

.tile-col { padding: 0; }

.tile { position: relative; width: 100%; padding-bottom: 100%; cursor: pointer; }

.tile img { max-height: none; position: absolute; padding: 20px; width: 100%; height: 100%; object-fit: cover; background-color: inherit; }

.tile video { position: absolute; padding: 20px; width: 100%; height: 100%; object-fit: cover; }

.tile .tile-tint { position: absolute; top: 20px; bottom: 20px; left: 20px; right: 20px; z-index: 1; opacity: 0.4; }

.tile .tile-caption { position: absolute; top: 20px; left: 20px; right: 20px; padding: 20px; margin: 20px; z-index: 2; background-color: rgba(0, 0, 0, 0.7); color: #FFFFFF; }

.tile .tile-caption h1 { color: #FFFFFF; }

.tile .tile-caption p { color: #FFFFFF; }

.tile .tile-cta { position: absolute; bottom: 20px; right: 20px; padding: 20px; margin: 20px; z-index: 2; color: #FFFFFF; background-color: rgba(0, 0, 0, 0.7); }

.tile-link { display: block; }

.tile-year { position: absolute; bottom: 20px; left: 20px; padding: 20px; margin: 20px; z-index: 2; color: #FFF; background-color: rgba(0, 0, 0, 0.7); }

/* GitHub style for Pygments syntax highlighter, for use with Jekyll Courtesy of GitHub.com  src: https://github.com/aahan/pygments-github-style */
.highlight pre, pre { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }

.highlight .hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }

.highlight .c { color: #999988; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k, .highlight .o { font-weight: bold; }

.highlight .cm { color: #999988; font-style: italic; }

.highlight .cp { color: #999999; font-weight: bold; }

.highlight .c1 { color: #999988; font-style: italic; }

.highlight .cs { color: #999999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000000; background-color: #ffdddd; }

.highlight .gd .x { color: #000000; background-color: #ffaaaa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #aa0000; }

.highlight .gh { color: #999999; }

.highlight .gi { color: #000000; background-color: #ddffdd; }

.highlight .gi .x { color: #000000; background-color: #aaffaa; }

.highlight .go { color: #888888; }

.highlight .gp { color: #555555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #800080; font-weight: bold; }

.highlight .gt { color: #aa0000; }

.highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr { font-weight: bold; }

.highlight .kt { color: #445588; font-weight: bold; }

.highlight .m { color: #009999; }

.highlight .s { color: #dd1144; }

.highlight .n { color: #333333; }

.highlight .na { color: teal; }

.highlight .nb { color: #0086b3; }

.highlight .nc { color: #445588; font-weight: bold; }

.highlight .no { color: teal; }

.highlight .ni { color: purple; }

.highlight .ne, .highlight .nf { color: #990000; font-weight: bold; }

.highlight .nn { color: #555555; }

.highlight .nt { color: navy; }

.highlight .nv { color: teal; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo { color: #009999; }

.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx { color: #dd1144; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #dd1144; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999999; }

.highlight .vc, .highlight .vg, .highlight .vi { color: teal; }

.highlight .il { color: #009999; }

.highlight .gc { color: #999; background-color: #EAF2F5; }

.error-container { width: 100%; }

.error-number { font-size: 120px; text-align: right; margin-bottom: 0; }

.error-description { margin-top: 50px; }

.slide { left: calc(-50vw + 50%); position: relative; width: 100vw; height: 100vh; background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover; z-index: 0; }

.slide video { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover; z-index: 1; }

.slide-tint { position: absolute; height: 100%; width: 100%; z-index: 2; opacity: 0.4; }

.slide .container { position: relative; height: 100%; }

.slide-overlay { margin: 20px; padding: 20px; background-color: rgba(0, 0, 0, 0.7); position: absolute; z-index: 3; right: 0; bottom: 0; text-align: right; width: 70%; }

.slide-overlay p { color: #FFF; }

@media only screen and (min-width: 992px) { .slideshow .slide-overlay h1 { font-size: 72px; } .slideshow .slide-overlay p { font-size: 30px; } .slideshow h1 { font-size: 60px; } .slideshow p { font-size: 30px; } }

/*# sourceMappingURL=styles.css.map */