{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css')}}"></link>

<!-- Blockly core -->
<script src="{{ url_for('static', filename='blockly/blockly_compressed.js') }}"></script>
<!-- Core blocks set -->
<script src="{{ url_for('static', filename='blockly/blocks_compressed.js') }}"></script>
<!-- English messages -->
<script src="{{ url_for('static', filename='blockly/msg/js/en.js') }}"></script>
<!-- JavaScript render -->
<script src="{{ url_for('static', filename='blockly/javascript_compressed.js') }}"></script>

<!-- Blockly toolbox -->
{% include 'blockly/toolbox.html' %}


<div class="user-banner">
    <div class="container">
        <div class="row">
            <div class="col-6 brand">
                <span>botbuilder</span>
            </div>
            <div class="col-6 userinfo">
                <span>{{ user['username'] }}<span class="discriminator">#{{ user['discriminator']}}</span></span>
                <img class="avatar" src="https://cdn.discordapp.com/avatars/{{ user['id'] }}/{{ user['avatar'] }}.png"></img>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="blockly-editor">
        <div class="blockly-header row">
            <div class="col-6" style="text-align: left;">
                <span class="window-title">Command Editor</span>
            </div>
            <div class="col-6" style="text-align: right;">
                <span id="saveIndicator">loading...<span>
            </div>
        </div>
        <div id="blocklyWrapper">
            <div id="blocklyArea"></div>
            <div id="blocklyDiv" style="position: absolute"></div>
        </div>
    </div>
    <div class="sidebar">
        <div class="commands-header">
            <span class="window-title">Commands</span>
        </div>
        <div class="commands-list">
            <ul id="commandsList">
            </ul>
        </div>
        <br>
        <div class="add-to-guild-button center">
            <a target="_blank" rel="noopener" href="https://discord.com/api/oauth2/authorize?client_id={{ client_id }}&scope=applications.commands" role="button" class="btn btn-xl" aria-pressed="true">Add to Guild</a>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

{% endblock %}
