<div class="footer">
    <div class="container">
        <br>
        <br>
        <p>
            made with <i class="fas fa-heart" aria-hidden="true"></i>
            <span class="sr-only">love</span> by breq,

            <i class="far fa-copyright" aria-hidden="true"></i>
            <span class="sr-only">copyright</span> 2021,

            <i class="fab fa-github" aria-hidden="true"></i>
            <span class="sr-only">github</span>
            <a href="https://github.com/Breq16/botbuilder" target="_blank">Breq16/botbuilder</a>
        </p>
        <br>
        <br>
        <br>
    </div>
</div>
